<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Калькулятор палива</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Ласкаво просимо до веб-калькулятора палива</h1>
        <div class="button-container">
            <a href="/task1" class="button">Перейти до Калькулятора 1</a>
            <a href="/task2" class="button">Перейти до Калькулятора 2</a>
        </div>
    </div>
</body>
</html>
